@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24445d;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .max-container {
    @apply mx-auto max-w-[1200px];
  }
  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }
  .hero-shadow {
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.6),
      5%,
      rgba(255, 255, 255, 0)
    );
    
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .section-bg {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  .Statistics.item {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    clip-path: ellipse(200% 100% at 50% 0%);
  }
  .report-item {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 10%;
    padding: 5px;
    margin: 10px;
    height: 200px;
    width: 200px;
  }
  .testmonial-bg{
    background: rgba(62, 71, 92, 0.65);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
  }
}
